@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "./sass/variables", "./sass/reset";

/* * * * * * * * * * * * * */

.bold {
    font-weight: 700;
}

.fantasy {
    font-family: "Lobster", cursive;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.m-btn {
    margin: 0 20px;
}

.content {
    margin-bottom: 30px;
    & article {
        margin: 25px 0;
        padding: 5px 15px;
        background: rgba(0,0,0,0.4);
    }
}

// * * * * * * * * * * *

header {
    width: 100%;
    min-height: 250px;
    background: $dark;
    background-image: url(./Medias/placeholder.png);
    background-size: contain;
    margin: 25px 0;
}


/* * * * * * * * * * * * * */
@import "./sass/responsive";